@font-face {
    font-family: 'bw_beto_grandelight';
    src: url('../fonts/branding_with_type_-_bw_beto_grande_light-webfont.woff2') format('woff2'),
        url('../fonts/branding_with_type_-_bw_beto_grande_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('../fonts/nimbussanl-bol-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lbold_italic';
    src: url('../fonts/nimbussanl-bolita-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-bolita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('../fonts/nimbussanl-reg-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular_italic';
    src: url('../fonts/nimbussanl-regita-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-regita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ResistSansText-Light';
    src: url('../fonts/font.woff2') format('woff2'), url('webFonts/ResistSansText-Light/font.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interbold';
    src: url('../fonts/inter-bold-webfont.woff2') format('woff2'), url('../fonts/inter-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intermedium';
    src: url('../fonts/inter-medium-webfont.woff2') format('woff2'), url('../fonts/inter-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'interregular';
    src: url('../fonts/inter-regular-webfont.woff2') format('woff2'), url('../fonts/inter-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'intersemi_bold';
    src: url('../fonts/inter-semibold-webfont.woff2') format('woff2'), url('../fonts/inter-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
