@font-face {
    font-family: 'bw_beto_grandelight';
    src: url('../fonts/branding_with_type_-_bw_beto_grande_light-webfont.woff2') format('woff2'),
        url('../fonts/branding_with_type_-_bw_beto_grande_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lbold';
    src: url('../fonts/nimbussanl-bol-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-bol-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lbold_italic';
    src: url('../fonts/nimbussanl-bolita-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-bolita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular';
    src: url('../fonts/nimbussanl-reg-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-reg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbus_sans_lregular_italic';
    src: url('../fonts/nimbussanl-regita-webfont.woff2') format('woff2'), url('../fonts/nimbussanl-regita-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
