* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 150vh;
    background-color: #edeae4;
    color: #28282a;
    font-family: 'interregular', Helvetica, Arial, sans-serif;
}
body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 1px;
    background: #28282a;
    display: block;
    z-index: 9999;
}

main {
    display: flex;
}

.title-container {
    position: fixed;
    left: 20px;
    top: 10px;
    z-index: 9999;
    margin: 0;
}
.title {
    margin: 0;
    font-family: 'bw_beto_grandelight', serif;
    font-size: 75px;
    font-weight: 100;
    text-align: left;
    letter-spacing: -3px;
}

.subheading {
    position: fixed;
    right: 20px;
    top: 20px;
    border-radius: 50%;
    width: 70px;
    display: flex;
    height: 70px;
    justify-content: center;
}
.subheading h2 {
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    margin: 0;
    cursor: pointer;
    transition: 500ms ease;
}
.subheading h2:hover {
    color: blue;
}
.subheading div {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border: 1px solid blue;
    border-radius: 50%;
    justify-content: center;
}
.subheading div span {
    background: blue;
    display: block;
    width: 12px;
    height: 1px;
    position: absolute;
}
.subheading div span.up {
    transform: rotate(90deg);
}

.ibd-container {
    width: 100%;
    padding: 30px 30px 120px 480px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 60px 30px;
}

.ibd-card-ctr .ibd-card {
    transition: 500ms ease;
    background: white;
}
.ibd-card-ctr:hover .ibd-card {
    opacity: 0.7;
}

.ibd-card {
    background: white;
    overflow: hidden;
    position: relative;
    padding-top: 100%;
    cursor: pointer;
}

.ibd-card-ctr a {
    text-decoration: none;
    color: #28282a;
}

.ibd-card .img {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.ibd-card .img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.img-title {
    padding: 2px 0;
    width: 100%;
    text-align: left;
    top: 0;
    z-index: 9999;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.img-title h4 {
    font-size: 12px;
    margin: 0;
    font-family: 'nimbus_sans_lbold', 'nimbus_sans_lregular', Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
}
.img-title h4.num {
    font-family: 'nimbus_sans_lregular', Helvetica, Arial, sans-serif;
}

/* -------------------------- UPLOAD FORM -------------------------*/
.form-fade-enter,
.form-fade-leave-active {
    opacity: 0;
}

.form-fade-enter-active,
.form-fade-leave-active {
    transition: opacity 2s ease;
}
.upload-form {
    transition: 500ms ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #edeae4;
    color: #28282a;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 450px;
    height: 100vh;
    /* visibility: hidden;
    opacity: 0; */
    padding: 120px 0 0;
    border-right: 1px solid;
    border-left: 1px solid;
}

.hide-form {
    display: block;
    position: fixed;
    top: 15px;
    left: 400px;
    width: 58px;
    height: 58px;
    z-index: 9;
    cursor: pointer;
}
.hide-form span {
    background: #28282a;
    display: block;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -2px;
    overflow: hidden;
    transition: 500ms ease;
}
.hide-form .close-modal-left {
    transform: rotate(45deg) translate(20px, 20px);
}
.hide-form .close-modal-right {
    transform: rotate(-45deg) translate(-20px, 20px);
}
.hide-form:hover span {
    background: blue;
}

.all-inputs {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.details,
.file-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.details {
    max-width: 450px;
    width: 380px;
    padding: 0;
    margin: 0 25px;
}
.file-details {
    padding-top: 18px;
}

.upload-form input,
.comment-container textarea,
.comment-container input {
    min-width: 100%;
    background: transparent;
    border: none;
    padding: 15px 0 7px;
    font-size: 21px;
    margin: 0 auto 15px;
    cursor: text;
    transition: 500ms ease;
    color: blue;
}
.upload-form input {
    color: #28282a;
    /* border-bottom: 1px solid; */
}
.upload-form input:hover,
.comment-container textarea:hover,
.comment-container input:hover {
    color: blue;
    /* border-bottom: 1px solid blue; */
}
.upload-form input:focus,
.comment-container textarea:focus,
.comment-container input:focus {
    color: blue;
    /* border-bottom: 1px solid blue; */
    outline: none;
}
/* .upload-form input:focus,
.upload-form input:hover {
    color: lightblue;
    border-bottom: 1px solid lightblue;
} */
.upload-form input::placeholder,
.comment-container textarea::placeholder,
.comment-container input::placeholder {
    color: #28282a;
}
/* .upload-form input::placeholder {
    color: #edeae4;
} */
.upload-form input:hover::placeholder,
.comment-container textarea:hover::placeholder,
.comment-container input:hover::placeholder {
    color: blue;
}
/* .upload-form input:hover::placeholder {
    color: lightblue;
} */
.upload-form input:focus::placeholder,
.comment-container textarea:focus::placeholder,
.comment-container input:focus::placeholder {
    color: blue;
    font-style: italic;
    opacity: 0.5;
}
/* .upload-form input:hover:focus::placeholder {
    color: lightblue;
} */
/* .upload-form input:focus::placeholder {
    color: lightblue;
} */

.choose-file {
    position: relative;
    border: 1px dashed rgba(40, 40, 42, 0.2);
    padding: 20px 20px 40px;
    text-align: center;
    margin: 0 0 5px;
    transition: 500ms ease;
}
.choose-file:hover {
    border-color: blue;
}
.upload-form h2 {
    color: #28282a;
    min-width: 100%;
    background: transparent;
    border: none;
    padding: 0;
    font-size: 22px;
    margin: 0 auto 50px;
    transition: 500ms ease;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    display: block;
    cursor: default;
}
.upload-form .choose-file label {
    color: #28282a;
    min-width: 100%;
    background: transparent;
    border: none;
    font-size: 21px;
    margin: 0 auto;
    transition: 500ms ease;
    cursor: pointer;
    text-align: left;
    display: block;
}
.upload-form .choose-file label:hover {
    color: blue;
}
.upload-form #file {
    text-indent: -999px;
    background: transparent;
    border: none;
    border-bottom: none;
    color: #28282a;
    padding: 0;
    margin: 0;
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    position: absolute;
    left: -60px;
    right: 0;
    bottom: 20px;
    text-align: center;
    z-index: -1;
    min-width: 260px;
    width: 300px;
}
#file + label {
    font-size: 1.25em;
    font-weight: 700;
    color: #28282a;
    background-color: white;
    display: inline-block;
}

#file:focus + label,
#file + label:hover {
    background-color: red;
}

#file + label {
    cursor: pointer;
}
#file:focus + label {
    outline: none;
}
#file + label * {
    pointer-events: none;
}

.tags-container {
    position: relative;
}
.add-tags {
    display: flex;
    position: relative;
}
#showing-tags {
    transition: 500ms ease;
    visibility: hidden;
    opacity: 0;
    background: #edeae4;
    padding: 4px 0 4px 23px;
    border-top: none;
    margin-top: 0;
    position: absolute;
    width: 100%;
}
#tagsinput {
    min-width: 331px;
    margin: 0;
}
/* #tagsinput:hover + .add,
#tagsinput:focus + .add {
    border-color: blue;
} */
#tagsinput:focus + .add {
    outline: none;
}

.tag-label {
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    position: absolute;
    top: 53px;
    left: 23px;
}

.upload-form .add {
    color: #28282a;
    padding: 21px 0 15px 10px;
    text-align: right;
    font-size: 13px;
    margin: 0;
    width: 60px;
    height: 50px;
    line-height: 12px;
    border: none;
    transition: 500ms ease;
}
.upload-form .add:hover {
    color: blue;
}
.no-tags p {
    font-size: 12px;
    font-weight: 100;
    font-style: italic;
    margin: 0;
    opacity: 0.7;
}
.tags {
    display: flex;
}
.tags .tag {
    font-size: 12px;
    background: blue;
    color: #edeae4;
    padding: 4px 10px;
    border-radius: 40px;
    margin-right: 10px;
    font-family: 'intersemi_bold', 'interregular', Helvetica, Arial, sans-serif;
}

.upload {
    border: 1px solid;
    padding: 30px 20px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    margin: 50px auto 0;
    text-transform: uppercase;
    font-family: 'inter-semibold', 'interregular', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    background: #edeae4;
    color: #28282a;
    transition: 500ms ease;
    position: absolute;
    border-right: none;
    border-left: none;
    bottom: 0;
}
.upload:hover {
    color: #edeae4;
    background: blue;
    border-top-color: blue;
    border-bottom-color: blue;
}

/* -------------------------- IMAGE MODAL -------------------------*/
.modal-fade-enter,
.modal-fade-leave-active {
    opacity: 0;
}

.modal-fade-enter-active,
.modal-fade-leave-active {
    transition: opacity 0.5s ease;
}

.modal-container {
    position: fixed;
    background: rgba(40, 40, 42, 0.8);
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}
.modal {
    background: #edeae4;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}
.modal-img {
    width: 50%;
}
.modal-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 50px 20px;
    background: #edeae4;
}

.close-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 58px;
    height: 58px;
    z-index: 9;
    cursor: pointer;
}
.close-btn span {
    background: #28282a;
    display: block;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -2px;
    overflow: hidden;
    transition: 500ms ease;
}
.close-btn .close-modal-left {
    transform: rotate(45deg) translate(20px, 20px);
}
.close-btn .close-modal-right {
    transform: rotate(-45deg) translate(-20px, 20px);
}
.close-btn:hover span {
    background: blue;
}

.modal .right {
    width: 50%;
    overflow: scroll;
    padding: 0 90px 0 20px;
}

.modal-img-title {
    padding: 100px 0 20px;
}
.modal-img-title h2 {
    font-size: 50px;
    line-height: 55px;
    margin: 0;
}
.modal-img-title .craftist {
    font-size: 50px;
    line-height: 55px;
    margin: 0;
    font-family: 'bw_beto_grandelight', 'interregular', Helvetica, Arial, sans-serif;
    letter-spacing: -1.5px;
}
.meta {
    margin: 17px 0 0;
    font-size: 11px;
    text-transform: uppercase;
}

.comment-container {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}
.add-comment {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.no-comments {
    font-style: italic;
    font-size: 14px;
    opacity: 0.7;
    padding: 50px 0;
}
.comments {
    margin-top: 40px;
}
.comments .meta {
    margin: 17px 0 30px;
}
.comment-item {
    padding-left: 30px;
}
.comment-container label {
    display: none;
}
.comment-item h4 {
    margin: 8px 0 0;
}
.comment-item p {
    margin: 5px 0 0;
    font-size: 11px;
    font-style: italic;
}
button {
    border: 1px solid;
    padding: 17px 20px;
    font-size: 14px;
    width: 220px;
    cursor: pointer;
    margin: 0 auto;
    background: transparent;
    text-transform: uppercase;
    font-family: 'inter-semibold', 'interregular', Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.add-comment button {
    width: 100%;
}

.delete {
    display: flex;
    position: absolute;
    top: 10px;
    right: 80px;
    height: 58px;
    z-index: 9;
    cursor: pointer;
}
.delete button {
    padding: 0;
    border: none;
    font-size: 10px;
    margin: 0;
    width: auto;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: italic;
    line-height: 12px;
    transition: 500ms ease;
}
.delete button:hover {
    color: blue;
}

#load-more {
    margin: 40px auto;
    display: block;
}

.prev {
    position: fixed;
    top: 39%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    font-size: 30px;
    z-index: 9;
    width: 90px;
    height: 90px;
    transform: rotate(90deg);
}
.prev span {
    background: #28282a;
    display: block;
    width: 100%;
    height: 2px;
    margin-left: 7px;
    overflow: hidden;
    transition: 500ms ease;
}
.prev .top {
    transform: rotate(-45deg) translate(25px, 25px);
}
.prev .bottom {
    transform: rotate(45deg) translate(-25px, 25px);
}
.prev:hover span {
    background: blue;
}

.next {
    position: fixed;
    top: 40%;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 30px;
    z-index: 9;
    width: 90px;
    height: 90px;
    transform: rotate(-90deg);
}
.next span {
    background: #28282a;
    display: block;
    width: 100%;
    height: 2px;
    margin-left: 7px;
    overflow: hidden;
    transition: 500ms ease;
}
.next .top {
    transform: rotate(-45deg) translate(25px, 25px);
}
.next .bottom {
    transform: rotate(45deg) translate(-25px, 25px);
}
.next:hover span {
    background: blue;
}

.tagslist {
    display: flex;
    padding-bottom: 20px;
}
.tag-item {
    margin: 0 5px 0 0;
}
.tag-item .tag {
    margin: 0;
    padding: 4px 14px;
    border-radius: 20px;
    font-size: 11px;
    background: #28282a;
    color: white;
    cursor: pointer;
    font-family: 'intermedium';
    transition: 500ms ease;
}
.tag-item .tag:hover {
    background: blue;
}

/* -------------------------- IMAGE MODAL FILTER -------------------------*/
.filter-fade-enter,
.filter-fade-leave-active {
    opacity: 0;
}

.filter-fade-enter-active,
.filter-fade-leave-active {
    transition: opacity 0.5s ease;
}

.filter-container {
    width: 100vw;
    position: fixed;
    height: 100vh;
    background: #edeae4;
    z-index: 10;
    padding: 0 60px 120px;
    overflow: scroll;
}
.filter-container .ibd-container {
    margin-top: 30px;
}
.filter-title {
    padding: 100px 0 20px;
    margin: 0 auto;
    text-align: center;
}
.filter-heading {
    font-size: 30px;
    line-height: 35px;
    margin: 0 0 20px;
    font-family: 'bw_beto_grandelight', 'interregular', Helvetica, Arial, sans-serif;
    letter-spacing: 0;
}
.filter-tag {
    margin: 0;
    padding: 4px 14px;
    border-radius: 20px;
    font-size: 16px;
    background: #28282a;
    color: white;
    cursor: pointer;
    font-family: 'intermedium';
    transition: 500ms ease;
    display: initial;
    letter-spacing: 0;
}

/* -------------------------- MEDIA QUERIES - SMALLER SCREENS -------------------------*/
@media screen and (max-width: 768px) {
    .title {
        font-size: 18vw;
    }
    .subheading {
        font-size: 20px;
    }
    .ibd-container {
        grid-template-columns: 1fr;
    }
}
